[*.cs]

# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = none

# CA1307: Specify StringComparison
dotnet_diagnostic.CA1307.severity = none

# CA3075: Insecure DTD processing in XML
dotnet_diagnostic.CA3075.severity = silent

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = silent

# UNT0008: Unity objects should not use null propagation
dotnet_diagnostic.UNT0008.severity = warning
